login works!
  <table>
    <tr>
      <td>Username</td>
      <td><input [(ngModel)]="username"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" [(ngModel)]="password"></td>
    </tr>
    <tr>
      <td><input type="reset" name="btnReset" class="btn-danger"></td>
      <td><button (click)="onClicked()" class="btn-primary">Login</button></td>
    </tr>
  </table>
  

  <!-- exmaple of 2-ways bindings
    {{username}}
    {{password}} 
  -->

  {{username}}
  {{password}} 